<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Users</title>
</head>

<body>
	<table border="1">
		<thead>
		<tr>
			<th>Email   </th>
			
			<th>First Name  </th>
			
			<th>Creator</th>
		</tr>
		</thead>
		<tbody>
			<tr data-th-each="user : ${users}">
				<td th:text="${user.email}">1</td>
		
				<td th:text="${user.firstName}">Text...</td>
				
				<td th:text="${user.creator}">Text ...</td>
			</tr>
		</tbody>
	</table>
</body>
</html>